<div class="form-medicament">
  <%= simple_form_for(@drug, remote: true) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
<!--       <%= f.input :name, placeholder: 'Nom Dose Forme', label: false, class: "name-medicament" %> -->
      <select class="api-card-drugs name-medicament" style="width: 100%"></select>
      <div class="inline-medicament">
        <%= f.input :morning, as: :string, label: false, class: "my-button" %>
        <%= f.input :lunch, as: :string, label: false, class: "my-button" %>
        <%= f.input :evening, as: :string, label: false, class: "my-button" %>
        <%= f.input :night, as: :string, label: false, class: "my-button" %>
        </div>
      <%= f.input :comment, label: false, placeholder: 'Commentaire...', class: "my-button" %>

    </div>

<!--     <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div> -->
  <% end %>

</div>


