<% if user_signed_in? %>
  <div class="navbar-wagon navbar-fixed-left navbar-fixed-top navbar-small" id="main-nav">
    <div class="logo">
      <%= link_to patients_path, class: "navbar-wagon-brand resize-navbar-small" do %>
        <%= image_tag "icon.svg", height: 50 %>
      <% end %>
    </div>
    <div class="liens remove-puces">
      <div>
        <div class="align-navbar-card">
          <%= link_to patients_path do   %>
          <i class="fa fa-user"></i>
          <% end %>
          <p id="toogle-font-user" class="hidden"><%= link_to "Patients", patients_path %></p>
        </div>
        <div class="align-navbar-card">
          <%= link_to destroy_user_session_path, method: :delete do  %>
          <i class="fa fa-sign-out"></i>
          <% end %>
          <p id="toogle-font-sign-out" class="hidden"><%= link_to "Se deconnecter", destroy_user_session_path %></p>
        </div>
      </div>

    </div>
    <div class="ajout-patient">
      <!-- Bouton qui lance la modal: -->
      <button type="button" class="navbar-create-patient resize-navbar-small" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus" aria-hidden="true"></i>

      </button>
      <%= render 'patients/modal'  %>
    </div>
    <div class="reduct">
      <a href="" class="fa fa-angle-double-left arrow resize-navbar-small" id="toogle-size-navbar"></a>
    </div>
  </div>
<% end %>
