<% if user_signed_in? %>
  <div class="navbar-wagon navbar-fixed-left navbar-fixed-top">
    <div class="logo">
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "logo.png", height: 50 %>
      <% end %>
    </div>
    <div class="liens">
      <ul>
        <li><%= link_to "Patients", "#", class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "Se deconnecter", "#", class: "navbar-wagon-item navbar-wagon-link" %></li>
      </ul>

    </div>
    <div class="ajout-patient">
      <%= link_to "+", "#", class: "navbar-create-patient" %>
    </div>
  </div>
<% end %>



