<div class="container">
  <div class="recherche">
      <span class="glyphicon glyphicon-search"></span>
      <span>
        <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            placeholder: "Rechercher un patient"
        %>
        <% end %>
      </span>
  </div>
  <div class="row ">
    <% @patients.sort_by{ |patient| patient.entrancedate }.reverse.each do |patient| %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-none">
        <div class="card-patient">
          <div class="row equal">
            <div class="col-xs-12 col-sm-6 col-ml-6 padding-card-patient">
                <i class="fa fa-user"></i>
                <p class="bold-resize"><%= patient.first_name %> <%= patient.last_name %></p>
                <div class="in-line-naissance">
                  <p>Né le :&nbsp</p>
                  <p class="gray-resize"><%= l(patient.birthdate, format: '%d / %m / %Y') %></p>
                </div>
                <p>Date d'hospitalisation</p>
                <p class="blue-resize"><%= l(patient.entrancedate, format: '%A %d %B %Y') %></p>

            </div>
            <div class="col-xs-12 col-sm-6 padding-card-patient">
              <% patient.boards.each do |board| %>
                <div class="board-name in-line">
                  <p><%= link_to board.name, board %></p>
                  <p class="blue-resize"><%= l(board.updated_at, format: ' %A %d %B %Y') %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

