<div class="container">


    <div class="recherche">
        <span class="glyphicon glyphicon-search"></span>
        <span>
          <%= form_tag patients_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              placeholder: "Rechercher un patient"
          %>
          <% end %>
        </span>
    </div>

  <div class="row ">
      <% @patients.each do |patient| %>
        <div class="col-xs-12 col-sm-11 card-patient">
            <div >
              <p id="bold"><%= patient.first_name %> <%= patient.last_name %></p>
              <p id="blue"><%= patient.birthdate %></p>
            </div>
            <div >
              <p> Date d'hospitalisation</p>
              <p id="blue"><%= patient.birthdate %></p>
            </div>
            <% patient.boards.each do |board| %>
                <div class="board-name">
                  <p><%= link_to board.name, board %></p>
                  <i class="fa fa-file-text" aria-hidden="true"></i>
                </div>
            <% end %>
        </div>
      <% end %>
  </div>
</div>





