<div class="container-print">
  <div class="haut-page">
    <div class="haut-page-left">
      <%= image_tag "aphm.png", height: 100 %>
    </div>
    <div class="haut-page-right">
      <p>Centre hospitalier universitaire</p>
      <p>Courrier de conciliation des traitements médicamenteux</p>
    </div>
  </div>
  <div class="presentation-patient">
    <p>Cher confrère</p>
    <p>Votre patient(e) <%= @board.patient.first_name %> <%= @board.patient.last_name %>, née le <%= @board.patient.birthdate %>, a été hospitalisé dans le service de traumatologie. Nous avons établi la liste des médicaments pris en routine à son domicile. Vous trouverez ci-dessous les modifications de traitements instauré par l'équipe médicale hospitalières ainsi que d'éventuelles explications.</p>
  </div>



<div class="row ">

  <div class="col-xs-6 padding-none">
    <div  data-id="<%= @board.id %>">
      <p class="source-name">Avant l'hospitalisation</p>
      <div class="card-source-invisible">
        <% for p in (1..@board.height) %>
          <div class="card-invisible-print" >
            <% if @board.bmo.have_drug?(p) %>
              <div class="card-medicament-print" >
                <%= render "shared/form_medicament", drug: @board.bmo.find_drug(p) %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-6 padding-none">
    <div >
      <div class="card-source-invisble" id="source_<%= @board.nb_source_final %>" >
        <p class="card-final source-title">Après l'hospitalisation</p>
        <div class="card-source-invisible">
          <% for p in (1..@board.height) %>
            <div class="card-invisible-print" id="source_<%= @board.nb_source_final %>_card_<%= p %>">
              <% if @board.final.have_drug?(p) %>
                <div class="card-medicament-print" >
                  <%= render "shared/form_medicament", drug: @board.final.find_drug(p) %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-2 padding-none">
    <a class='btn btn-check-divergence source-title'><%= @board.divergence.name %></a>
    <div class="card-source-invisible-divergence">
      <% for p in (1..@board.height) %>
        <div class="card-invisible-divergence">
          <% if @board.divergence.have_divergence?(p) %>
            <div class="card-medicament-print" data-id="<%= @board.divergence.find_divergence_id(p) %>">
              <%= render "shared/form_divergence", divergence: @board.divergence.find_divergence(p) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>




  <div class="bas-page">
    <div class="bas-page-gauche">
      <p>Docteur Bernard Roy</p>
      <p>Service de Traumatologie</p>
    </div>
    <div class="bas-page-right">
      <p>Docteur Pierre Renaudin</p>
      <p>Service Pharmacie</p>
    </div>

  </div>

  <div class="bouton-show">
    <a onclick='window.print(); return false;' class='btn btn-treehouse-small generer-pdf fa fa-file-pdf-o'></a>
    <%= link_to '', root_path, class: 'btn btn-treehouse-small fa fa-sign-out generer-pdf' %>
  </div>
</div>
