<div class="container container-board-show">
  <h3><%= @board.name %></h3>
  <div class="row ">
    <% if @board.name == "Historique médicamenteux" %>
      <div class="col-xs-9 padding-none">
        <div class="board-container" data-id="<%= @board.id %>">
          <% @board.sources.each_with_index do |source, index| %>
            <div class="card-source" id="source_<%= index + 1 %>" data-id="<%= source.id %>">
              <p><%= source.name %></p>
              <% source.drugs.each do |drug| %>
                <div class="card-source-invisible">
                  <div class="card-invisible" id="source_<%= index + 1 %>_card_<%= drug.position %>">
                    <div class="card-medicament" data-id="<%= drug.id %>">
                      <%= render "shared/form_medicament", drug: drug %>
                    </div>
                  </div>
                </div>
              <% end %>
              <%= link_to "+", "", class: "btn-add-medicament", id:"btn_source_1" %>
            </div>
          <% end %>
        </div>
        <%= link_to "+", '', class: "btn-add-source" %>
      </div>
    <% else %>
      <div class="col-xs-7 padding-none">
        <div class="board-container" data-id="<%= @board.id %>">
          <% @board.sources.each_with_index do |source, index| %>
            <div class="card-source" id="source_<%= index%>" data-id="<%= source.id %>">
              <p><%= source.name %></p>
              <% source.drugs.each do |drug| %>
                <div class="card-source-invisible">
                  <div class="card-invisible" id="source_<%= index %>_card_<%= drug.position %>">
                    <div class="card-medicament" data-id="<%= drug.id %>">
                      <%= render "shared/form_medicament" %>
                    </div>
                  </div>
                </div>
              <% end %>
              <%= link_to "+", "", class: "btn-add-medicament", id:"btn_source_1" %>
            </div>
          <% end %>
        </div>
        <%= link_to "+", '', class: "btn-add-source" %>
      </div>
      <div class="col-xs-2 padding-none">
        <div class="board-container-final">
          <div class="card-final" id="source_<%= @board.sources.length%>">
            <% if @board.name == "Historique médicamenteux" %>
              <p>BMO</p>
              <%=  %>
            <% else %>
              <p>Consultation finale</p>
            <% end %>
            <div class="card-source-invisible">
              <div class="card-invisible">
                <div class="card-medicament-final" id="source_<%= @board.sources.length%>_card_finale">
                  <p>Final</p>
                </div>
              </div>
            </div>
            <%= link_to "+", "", class: "btn-add-medicament", id:"btn_source_final" %>
          </div>
        </div>
      </div>
    <% end %>
      <div class="col-xs-3 padding-none">
        <div class="board-container-final">
          <div class="card-final" id="source_<%= @board.sources.length%>">
            <% if @board.name == "Historique médicamenteux" %>
              <p>BMO</p>
              <%=  %>
            <% else %>
              <p>Consultation finale</p>
            <% end %>
            <div class="card-source-invisible">
              <div class="card-invisible">
                <div class="card-medicament-final" id="source_<%= @board.sources.length%>_card_finale">
                  <p>Final</p>
                </div>
              </div>
            </div>
            <%= link_to "+", "", class: "btn-add-medicament", id:"btn_source_final" %>
          </div>
        </div>
        <div class="bouton-show">
          <a onclick='window.print(); return false;' class='btn btn-treehouse-small generer-pdf fa fa-file-pdf-o'></a>
          <i class="fa fa-floppy-o btn btn-treehouse-small generer-pdf" id="save-all" aria-hidden="true"></i>

          <%= link_to '', patients_path, class: 'btn btn-treehouse-small fa fa-sign-out generer-pdf' %>
        </div>
      </div>
  </div>



  <%= render "shared/form_divergence" %>


</div>
