<div class="container container-board-show">
  <h3><%= @board.name %></h3>

  <div class="board-container" data-id="<%= @board.id %>">
    <div class="card-source" id="source_1">
      <% if @board.name == "Historique médicamenteux" %>
        <p>Patient</p>
        <%=  %>
      <% else %>
        <p>BMO</p>
      <% end %>
      <div class="card-source-invisible">
        <div class="card-invisible" id="source_1_card_1">
          <div class="card-medicament">
            <%= render "shared/form_medicament" %>
          </div>
        </div>
      </div>
      <%= link_to "+", "", class: "btn-add-medicament", id:"btn_source_1" %>
    </div>
  </div>

  <%= link_to "+", '', class: "btn-add-source" %>

  <div class="bouton-show">
    <a onclick='window.print(); return false;' class='btn btn-treehouse-small generer-pdf fa fa-file-pdf-o'></a>
    <i class="fa fa-floppy-o btn btn-treehouse-small generer-pdf" aria-hidden="true"></i>

    <%= link_to '', patients_path, class: 'btn btn-treehouse-small fa fa-sign-out generer-pdf' %>
  </div>



</div>
