<div class="container container-board-show">
  <p class="name-board"><%= @board.name %> | <span class="name-board-gray"><%= @board.patient.first_name %> <%= @board.patient.last_name %></span></p>
  <div class="row ">
    <% if @board.name == "Historique médicamenteux" %>
      <div class="col-xs-9 padding-none print-none">
        <div class="board-container" data-id="<%= @board.id %>">
          <% @board.sourcedrugs.each_with_index do |source, index| %>
            <div class="card-source" id="source_<%= index + 1 %>" >
              <p class="source-name source-title"><%= source.name %></p>
              <div class="card-source-invisible">
                <% for p in (1..@board.height) %>
                  <div class="card-invisible" id="source_<%= index + 1 %>_card_<%= p %>">
                    <% if source.have_drug?(p) %>
                      <div class="card-medicament" >
                        <%= render "shared/form_medicament", drug: source.find_drug(p) %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <%= link_to "+", "", class: "btn-add-medicament", id:"btn_source_#{index + 1}" %>
            </div>
          <% end %>
        </div>
        <%= link_to "+", '', class: "btn-add-source" %>
      </div>
    <% else %>
      <div class="col-xs-7 padding-none">
          <div class="board-container" data-id="<%= @board.id %>">
            <% @board.sourcedrugs.each_with_index do |source, index| %>
              <div class="card-source" id="source_<%= index + 1 %>"  >
                <p class="source-name source-title"><%= source.name %></p>
                <div class="card-source-invisible">
                  <% for p in (1..@board.height) %>
                    <div class="card-invisible" id="source_<%= index + 1 %>_card_<%= p %>">
                      <% if source.have_drug?(p) %>
                        <div class="card-medicament" >
                          <%= render "shared/form_medicament", drug: source.find_drug(p) %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <%= link_to "+", "", class: "btn-add-medicament", id:"btn_source_#{index + 1}" %>

              </div>
            <% end %>
          </div>
      </div>
      <div class="col-xs-2 padding-none">
        <div class="board-container-divergence">
          <div class="card-source-divergence">
            <a class='btn btn-check-divergence source-title <%= @board.type_conciliation %>'>Analyse divergences</a>
            <div class="card-source-invisible-divergence">
              <% for p in (1..@board.height) %>
                <div class="card-invisible-divergence">
                  <% if @board.divergence.have_divergence?(p) %>
                    <div class="card-medicament" data-id="<%= @board.divergence.find_divergence_id(p) %>">
                      <%= render "shared/form_divergence", divergence: @board.divergence.find_divergence(p) %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% debugger %>
    <div class="col-xs-3 padding-none">
      <div class="board-container-final">
        <div class="card-source" id="source_<%= @board.nb_source_final %>" >
          <% if @board.final.name == "BMO" %>
            <a class='btn btn-creation-bmo source-title <%= @board.type_conciliation %>'><%= @board.final.name %></a>
          <% else %>
            <p class="card-final source-title"><%= @board.final.name %></p>
          <% end %>
          <div class="card-source-invisible">
            <% for p in (1..@board.height) %>
              <div class="card-invisible" id="source_<%= @board.nb_source_final %>_card_<%= p %>">
                <% if @board.final.have_drug?(p) %>
                  <div class="card-medicament" >
                    <%= render "shared/form_medicament", drug: @board.final.find_drug(p) %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>
      </div>
      <div class="bouton-show">
        <a class='btn btn-treehouse-small generer-pdf fa fa-file-pdf-o' target="_blank" href="<%= board_print_path(@board) %>"></a>
        <i class="fa fa-floppy-o btn btn-treehouse-small generer-pdf" aria-hidden="true" id="save-all" ></i>
        <%= link_to '', patients_path, class: 'btn btn-treehouse-small fa fa-sign-out generer-pdf' %>
      </div>
    </div>
  </div>
</div>
